* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #fff;
	font: 0.74em "Trebuchet MS", Verdana, Arial, sans-serif;
	color: #222222;
	line-height: 1.5em;
}

a {
	color: #3B6EBF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,p {
	padding-left: 6px;
}

h1,h2,h3,h4,h5 {
	color: #555555;
	font-family: trebuchet ms, arial, tahoma, verdana, sans-serif;
	font-weight: normal;
	letter-spacing: 0.005em;
}

h2 {
	font-size: 2.4em;
	padding: 2px;
	margin: 2px;
}

h2 .bordered {
	background: #FFAA44;
	color: white;
	margin-right: 0.4em;
	text-align: center;
	font-size: 1em;
	font-size: 0.85em;
	letter-spacing: -0.05em;
	padding: 0pt 0.3em 0pt 0.2em;
	padding-right: 0.3em;
	margin-bottom: 0px;
}

h3 {
	border-bottom: 1px solid #FFEECC;
	color: #BB5522;
	font-size: 1.55em;
	margin: 5px;
	padding-bottom: 0.2em;
}

h3 .bordered {
	background: #FFAA44;
	margin-right: 0.4em;
	padding: 0pt 0.3em 0pt 0.2em;
	text-align: center;
	width: inherit;
	color: #FF9933;
	font-size: 1em;
	font-size: 0.85em;
	letter-spacing: -0.05em;
	padding-right: 0.3em;
}

#middle {
	width: 800px;
	position: relative;
	left: 50%;
	margin-left: -400px;
}

div.downloadbox {
	display: block;
	padding: 5px;
	margin: 0px;
	float: right;
	width: 200px;
}

dl {
	margin-top: 0px;
}

dt {
	padding: 2px;
	font-size: 1.2em;
}

dd {
	margin: 1px;
	margin-left: 10px;
}

img {
	border: 1px solid gray;
}

.rcms_rp {
	display: block;
}

.rcms_rp * {
	background: #D7E9F6 none repeat scroll 0%;
	display: block;
	height: 1px;
	overflow: hidden;
}

.rcms_rp1 {
	background: #E1EEF8 none repeat scroll 0%;
	border-left: 1px solid #EDF5FB;
	border-right: 1px solid #EDF5FB;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 1px;
	padding-right: 1px;
}

.rcms_rp2 {
	background: #DEEDF7 none repeat scroll 0%;
	border-left: 1px solid #FBFCFE;
	border-right: 1px solid #FBFCFE;
	margin: 0px 1px;
	padding: 0px 1px;
}

.rcms_rp3 {
	border-left: 1px solid #DEEDF7;
	border-right: 1px solid #DEEDF7;
	margin: 0px 1px;
}

.rcms_rp4 {
	border-left: 1px solid #EDF5FB;
	border-right: 1px solid #EDF5FB;
}

.rcms_rp5 {
	border-left: 1px solid #E1EEF8;
	border-right: 1px solid #E1EEF8;
}

.rcms_rp_content {
	background: #D7E9F6 none repeat scroll 0%;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
}

#aboutme_photo {
	float: right;
	margin: 10px;
}

#aboutme_text {
	float: left;
	min-width: 50%;
}

#aboutme_all {
	width: 100%;
}

#historybox {
	clear: right;
	margin: 20px;
	padding: 5px;
	padding-left: 25px;
	width: 170px;
	float: right;
	border: #D7E9F6 solid 1px;
}

#historybox ul {
	margin-left: 10px;
}

#historybox li {
	margin-left: 5px;
	list-style: decimal-leading-zero;
}

li.clearhistory {
	font-style: italic;
}

code {
	display: block;
	border: 1px #D7E9F6 solid;
	padding: 10px;
	margin: 5px;
	font-style: oblique;
	background: #eee;
	font: 1em "Courier New", Courier, monospace;
	color: #222222;;
	border: 1px #D7E9F6 solid;
}

a img {
	margin: 4px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
}